includes:
    - vendor/nunomaduro/larastan/extension.neon
    - phpstan-baseline.neon

parameters:

    paths:
        - app
        - bootstrap
        - config
        - database
        - public
        - resources
        - routes
        - tests

    # The level 9 is the highest level
    level: 8

    ignoreErrors:
        # ignore pivot errors
        # Eloquent modelを作成した後に有効 - '#^Access to an undefined property .*::\$pivot\.$#'

    excludePaths:
        - ./routes/console.php
        - ./public/index.php


#    checkMissingIterableValueType: false
