.container {
    position: relative;
    cursor: pointer;
    width: 168px;
    height: 49px;
    margin-bottom: -1px;
    z-index: 2;
    top:13px;
}

.label {
    position: absolute;
    font-size: 14px;
    top: 30%;
    left: 24px;
    pointer-events: none;
}

.hidden {
    z-index: 1;
    margin-top: -1px;
}

