.container {
    width: 100%;
}

.disabled {
    background-color: var(--color-gray-100);
}

.errorMessage {
    color: var(--color-accent-red);
    font-size: 12px;
    margin-top: 4px;
}
.error {
    border-color: var(--color-accent-red) !important;
}