.container {
    display: flex;
    align-items: center;
    gap: 12px;
}
.text {
    font-size: 14px;
    white-space: nowrap;
}
.circle {
    width: 36px;
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid var(--color-gray-200);
    padding: 6px;
}
.circle:hover {
    cursor: pointer;
}

.searchInputContainer {
    background-color: var(--color-white);
    border-radius: 14px;
    width: 300px;
    max-width: 240px;
}
.searchInput {
    padding-left: 1rem;
    border-radius: 16px !important;
    height: 36px;
}
.searchInput:focus {
    border-color: var(--color-primary-light) !important;
}