.messageRow {
    position: relative;
    display: flex;
    margin-bottom: 1.2rem;
    max-width: 100%;
    border-radius: 8px;
    padding: 4px;
    color: #6D7480;
    white-space: pre-wrap;
    font-size: 15px;
}
.messageRow:hover {
    /*background-color: #FDFDFD;*/
}
.avatar {
    margin-right: 10px;
}


.flexRow {
    flex-direction: row;
}
.flexRowReverse {
    flex-direction: row-reverse;
}

.messageBase {
    position: relative;
    padding: 14px 12px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.receiveMessage {
    background-color: var(--color-ui-chat-bg-recieve);

}
.receiveMessage::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background: var(--color-ui-chat-bg-recieve);
    left: -7px;
    top: 7px;
    transform: skew(-5deg) rotate(80deg);
    border-radius: 2px;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
}

.sendMessage {
    background-color: #F2F4F7;
}
.sendMessage::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background: #F2F4F7;
    right: -7px;
    top: 7px;
    transform: skew(-5deg) rotate(80deg);
    border-radius: 2px;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
}

.mediaMessage {
    background-color: inherit;
    padding: 2px;
    cursor: pointer;
    border: 1px solid var(--color-gray-100);
}
.mediaMessage::after, .mediaMessage::before {
    display: none;
}
.placeholderContainer {
    width: 240px;
    height: 180px;
}

.photoImage {
    border-radius: 8px;
    cursor: pointer;
    padding: 4px;
    object-fit: contain;
    max-height: 90%;
}
.photoImageClose {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
