.defaultScreen {
    width: 100%;
    text-align: center;
    margin-top: -56px;
}
.defaultScreen img {
    width: 50%;
}

.greeting {
    margin-bottom: 2px;
}
.description {
    font-size: 14px;
    margin-bottom: 32px;
}