.container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 16px;
}

.tabs {
    display: flex;
    align-items: center;
    margin-left: 20px;
    height: 40px;
}
.tabs > div {
    margin-left: -16px;
}

.actionButtons {
    display: flex;
    gap: 1rem;
}
