.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(100, 100, 100, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.opacity {
    background-color: rgba(100, 100, 100, 0);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.spinner {
    width: 80px;
    height: 80px;
    border: 5px solid var(--color-gray-300);
    border-top: 5px solid var(--color-primary);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
.sizeSmall {
    width: 40px;
    height: 40px;
    border-width: 3px;
}

.message {
    margin-top: 20px;
    font-size: 1.2rem;
    color: var(--color-gray-400);
}

/* ------- スピナーアニメーション用 ------ */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}