.processedMessage {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: var(--color-white);
    margin-bottom: 20px
}

.processedMessage:before {
    position: absolute;
    content: '';
    border-top: 1px dotted var(--color-primary);
    height: 1px;
    width: 100%;
    opacity: 0.3;
}
.processedText {
    border: 1px solid var(--color-primary);
    border-radius: 8px;
    padding: 0.5rem 1rem;
    background-color: var(--color-white);
    color: var(--color-primary-light);
    font-size: 12px;
    z-index: 1;
}