.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    min-height: 40px;
    border: 1px solid var(--color-primary);
    border-radius: 8px;
    cursor: pointer;
}

.menu {
    top:0;
    left: calc(12px + 42px);
}